<header class="bg-stone-900">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
      
  


  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
    <div class="w-full py-6 flex items-center justify-between border-b border-indigo-500 lg:border-none">
      <div class="flex items-center">
        <a class="site-title text-base font-medium text-white hover:text-indigo-50" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        {%- if titles_size > 0 -%}
        <div class="hidden ml-10 space-x-8 lg:block">
          {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <a class="text-base font-medium text-white hover:text-indigo-50" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              {%- endif -%}
            {%- endfor -%}
        </div>
      </div>
    </div>
  </nav>
  {%- endif -%}
  </header>