---
layout: default
---

<!-- <article>
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <p class="post-meta">
      <time
        class="dt-published"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
      </time>
      {%- if page.modified_date -%} ~ {%- assign mdate = page.modified_date |
      date_to_xmlschema -%}
      <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
        {{ mdate | date: date_format }}
      </time>
      {%- endif -%} {%- if page.author -%} • {% for author in page.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name"></span
      ></span>
      {%- if forloop.last == false %}, {% endif -%} {% endfor %} {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">{{ content }}</div>

  {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%-
  endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article> -->
<!-- ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss -->
<div class="relative py-16 bg-white overflow-hidden">
  <div
    class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full"
  ></div>
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span
          class="block text-base text-center text-indigo-600 font-semibold tracking-wide uppercase"
          >{{ author }}</span
        >
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        -%}
        <span
          class="block text-base text-center text-indigo-600 font-semibold tracking-wide uppercase"
        >
          {{ page.date | date: date_format }}</span
        >
        <span
          class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"
          >{{ page.title | escape }}</span
        >
      </h1>
      <p class="mt-8 text-xl text-gray-500 leading-8">{{ content }}</p>
    </div>
  </div>
</div>
